.root{
    -fx-background-color: #30596e;
}

TextField{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

PasswordField{
    -fx-background-color: #88d4f5;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, white, 5, 0.5, -1, 1);
}

ImageView{
    -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 0);
}

Button{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.51), 10, 0.5, -2,2);
}

Button:hover{
    -fx-background-color: #88d4f5;
    -fx-border-color: transparent;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}

MenuButton{
    -fx-background-color: #88d4f5;
    -fx-control-inner-background: #88d4f5;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, white, 5, 0.5, -1, 1);
}


